body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sky {
  background-color: skyblue;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.grass {
  background-color: forestgreen;
  height: 26.8vh;
}

.road-bounds {
  background-color: #666;
  height: 1.6vh;
}

.road {
  background-color: #444;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
